#push-button, #push2-button, #push3-button, #bath-button, #book-button, #exercise-button, #todo-button, #morning-button, #game-button, #movie-button, #holiday-button, #walk-button, #sleep-button {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background-color: #008000;
	/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

#push-button:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	/*下に動く*/
	border-bottom: none;
	/*線を消す*/
}

#pop-button {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #696969;
	/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #808080;
	border-radius: 3px;
}

#pop-button:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	/*下に動く*/
	border-bottom: none;
	/*線を消す*/
}

/* new1page */

.center {
	font-weight: bold;
	font-style: 'arial black';
	color: #3CB371;
}

.content {
	background-color: #3CB371;
}

/* title */

.maintitle {
	margin: 70px 0 auto;
	color: #ffffff;
	font-weight: bold;
	font-style: 'arial black';
	font-size: 100px;
}

.subtitle {
	margin: 10px;
	margin-bottom: 50px;
	color: #ffffff;
	font-weight: bold;
	font-style: 'arial black';
	font-size: 30px;
}

.title-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}

#push-button, #push2-button, #push3-button {
	width: 50%;
	margin: 10px;
}

/* new2page */

.sa-check h1 {
	color: #ffffff;
	font-weight: bold;
	font-size: 30px;
}

.question h2 {
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}

/*問題*/

.que-scale {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.que-scale:before, .que-scale:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.que-scale .box {
	width: 90%;
	margin: 2em auto;
	text-align: left;
	border: 1px solid white;
	border-radius: 3px;
	background: #ffffff;
	opacity: 0.7;
}

.que-scale input[type=radio] {
	display: none;
}

.que-scale label:focus, .que-scale label:hover, .que-scale label:active, .que-scale input:checked+label {
	color: #009900;
}

.que-scale label:focus:before, .que-scale label:hover:before, .que-scale label:active:before, .que-scale input:checked+label:before {
	border-color: #009900;
	background: #ffffff;
}

.que-scale label {
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 1em 1em 1em 3em;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #ffffff;
}

.que-scale label:before {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 10px;
	height: 10px;
	content: '';
	border: 0.2em solid #cccccc;
	border-radius: 50%;
}

.que-scale input:checked+label:before {
	border-color: #009900;
	background: #009900;
}

/* page3 */

.result {
	font-size: 30px;
	color: #ffffff;
	margin: 20px;
}

.izonndo {
	font-size: 50px;
	line-height: 100px;
	padding: 0.5em;
	/*文字周りの余白*/
	color: #010101;
	/*文字色*/
	background: #eaf3ff;
	/*背景色*/
	border-bottom: solid 3px#ff0000;
	/*下線*/
}

.izonndo-text {
	color: #ffffff;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#span3 {
	color: #ffffff;
}

.izonndo-se {
	font-size: 30px;
	display: flex;
	margin: 20px auto;
	justify-content: center;
	text-align: center;
	width: 1000px;
}

#span4 {
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

.my_message {
	font-size: 40px;
	color: #ffffff;
	font-weight: bold;
}

/* .hb-bath {
	background-color: coral;
} */

.hb-subt {
	color: #ffffff;
	background-color: #009900;
	font-size: 40px;
	font-weight: bold;
	
}

.hb {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hb_img {
	width: 500px;
}

.hb-text {
	color: #ffffff;
	text-align: center;
	padding: 10px;
	margin: auto;
	width: 700px;
	font-size: 25px;
}

/*質問*/

.hb-scale {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hb-scale:before, .hb-scale:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.hb-scale .hb-box {
	width: 90%;
	margin: 2em auto;
	text-align: left;
	border: 1px solid white;
	border-radius: 3px;
	background: #ffffff;
}

.hb-scale input[type=checkbox] {
	display: none;
}

.hb-scale label:focus, .hb-scale label:hover, .hb-scale label:active, .hb-scale input:checked+label {
	color: #da3c41;
}

.hb-scale label:focus:before, .hb-scale label:hover:before, .hb-scale label:active:before, .hb-scale input:checked+label:before {
	border-color: #da3c41;
	background: #ffffff;
}

.hb-scale label {
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 1em 1em 1em 3em;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #ffffff;
}

.hb-scale label:before {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 10px;
	height: 10px;
	content: '';
	border: 0.2em solid #cccccc;
	border-radius: 50%;
}

.hb-scale input:checked+label:before {
	border-color: #da3c41;
	background: #da3c41;
}

/* questions */

#questions {
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 30px;
}

#choices {
	list-style: none;
	padding: 0px;
	margin-bottom: 16px;
	font-size: 20px;
}

#choices>li {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

#choices>li:hover {
	background: #f8f8f8;
}

#btn.disabled {
	background: #cccccc;
	box-shadow: 0 4px 0 #bbbbbb;
	opacity: 0.7;
}

/* // #12 正解、不正解をわかりやすくしよう */

#choices>li.correct {
	background: #d4edda;
	border-color: #c3e6cb;
	color: #155724;
	font-weight: bold;
}

#choices>li.wrong {
	/* background: #f8d8da; */
	border-color: #f5c6cb;
	color: #721;
	font-weight: bold;
}

/* // #13 解答状況を管理しよう */

#choices>li.correct::after {
	content: "...correct!";
}

#choices>li.wrong::after {
	content: "...wrong!";
}

/* / #17 スコアを表示する領域を作ろう */

.containers {
	width: 800px;
	margin: 8px auto;
	/* background: #ffffff; */
	border-radius: 4px;
	padding: 16px;
	position: relative;
}

#results>p {
	font-size: 20px;
}

#btn, #results>a {
	background: #3498db;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
	box-shadow: 0 4px 0 #2880b9;
}

#results>a {
	display: block;
	text-decoration: none;
}

/* #19 スコア表示を完成させよう */

#results {
	position: absolute;
	width: 500px;
	background: #ffffff;
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 4px;
	text-align: center;
	transition: 0.4s;
}

#results.hidden {
	transform: translateY(-500px);
}

/* page3-2.html */

.hb_list_title {
	color: #ffffff;
	font-weight: bold;
	font-style: 'arial black';
	font-size: 30px;
	margin: 30px;
}

.hb_list_subtitle {
	color: #ffffff;
	font-weight: bold;
	font-style: 'arial black';
	font-size: 20px;
	margin: 30px;
}

.hbselect-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px;
}

#bath-button, #book-button, #exercise-button, #todo-button, #morning-button, #game-button, #movie-button, #holiday-button, #walk-button, #sleep-button {
	width: 40%;
	margin: 10px;
}

.hb_selected_title {
	text-align: center;
	margin: 10px 0 auto;
	color: #ffffff;
	font-weight: bold;
	font-style: 'arial black';
	font-size: 70px;
}

.hb_selected_subtitle {
	text-align: center;
	margin: 30px;
	color: #ffffff;
	font-weight: bold;
	font-style: 'arial black';
	font-size: 30px;
}

.hb_selected_img {
	width: 20%;
	margin: 10px;
}

.hb-se {
	color: #ffffff;
	text-align: center;
	margin: 10px;
	font-size: 20px;
}

/* /////タブレット画面///// */

@media screen and (max-width: 1000px) {
	.izonndo-se {
		width: 500px;
		font-size: 25px;
	}
	.my_message {
		font-size: 30px;
	}


	.hb_img {
		width: 300px;
	}
	.hb-text {
		width: 480px;
		font-size: 20px;
	}
	.containers {
		width: 480px;
	}
	#results {
		width: 300px;
	}
}

/* /////スマホ画面///// */

@media screen and (max-width: 480px) {
	.title-content {
		height: 500px;
		position: relative;
		/*中央揃えしたい要素の親要素に指定*/
		/* background-color: rgb(0, 3, 2); */
	}
	/* title */
	.title {
		/* background: yellow; */
		position: absolute;
		/*要素を浮かす*/
		/*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		/*上下左右中央に*/
		/* width: 375px; */
		/*widthの指定は必須*/
		height: 375px;
		/*heightの指定は必須*/
	}
	.maintitle {
		margin: 1px 0 auto;
		font-size: 65px;
	}
	.subtitle {
		font-size: 20px;
	}
	#push-button, #push2-button, #push3-button {
		width: 70%;
	}
	/* 結果発表 */
	.result {
		font-size: 20px;
	}
	.izonndo {
		font-size: 20px;
	}
	.izonndo-text {
		margin: 0px;
	}
	.izonndo-se {
		font-size: 15px;
		width: 300px;
		margin: auto;
	}
	.my_message {
		font-size: 25px;
	}

	.hb-subt {
		font-size: 30px;
	}
	.hb_img {
		width: 200px;
	}
	.hb-text {
		margin-bottom: 10px;
		width: 300px;
	}
	/* page3-2.html */
	.hb_selected_img {
		width: 40%;
	}
	.hb-se {
		margin: auto;
		width: 300px;
		font-size: 15px;
	}
	.hb-button {
		clear: both;
		text-align: center;
	}
	/* questions */
	#questions {
		font-size: 20px;
	}
	#choices {
		font-size: 15px;
	}
	.containers {
		width: 280px;
	}
	#results {
		width: 200px;
	}
}